# 指定 PyTorch 的 CPU 版本下載源，檔案小很多，安裝穩
--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision
torchaudio
transformers
accelerate>=0.21.0
datasets
peft
evaluate
scikit-learn
streamlit
pandas
plotly
tabulate
